.esri-popup__footer {
  display: none !important;
}

.rowAltColor:nth-child(odd) {
  background-color: #a0acf03f;
  transition: background-color .2s ease;
}

.rowAltColor td:first-of-type, .rowSelectColor td:first-of-type {
  border-radius: .5rem 0 0 .5rem;
}

.rowAltColor td:last-of-type, .rowSelectColor td:last-of-type {
  border-radius: 0 .5rem .5rem 0;
}

.rowAltColor:hover {
  background-color: #8a99ee98;
}

.rowAltColor {
  cursor: pointer;
}

.rowSelectColor {
  border-radius: 0 .5rem .5rem 0;
  background-color:  rgb(160, 172, 240);
  transition: background-color .2s ease;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.tableTab:hover {
  border-top: .3rem solid #a0acf0 !important;
}