@import '../abstracts/variables'
    
.error-icon
    font-size: .65rem
    margin-left: .5rem
    padding: .35rem
    border-radius: 100%
    width: 24px
    height: 24px
    display: inline-block
    line-height: 1.2
    text-align: center
    vertical-align: middle

    &--error
        background-color: $error3
        color: $white

    &--warning
        background-color: $warning3
        color: $white